<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/layout :: head"></head>
    <body class="body">
        <header th:replace="MenuPrincipal/layout :: header"></header>

        <div class="container mt-3">
            <div class="row">
                <div class="col-md-3" style="margin-top: 50px;">
                    <section id="cardMenu">
                        <div class="card" style="width: 300px; height: 100px; background-color: #330066">
                            <div class="card-body">
                                <h5 class="card-title text-center" style="color:white">Registros de agua</h5>
                                <div id="botonesCard">
                                    <a href="#" class="btn btn-light" style="color:black">Ver Registros </a>
                                    <a href="#" class="text-decoration-none" style="color: #00ff00; margin-left: 60px;">Registrar</a>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-3" style="margin-top: 50px;">
                    <section id="cardMenu">
                        <div class="card" style="width: 300px; height: 100px; background-color: #330066">
                            <div class="card-body">
                                <h5 class="card-title text-center" style="color:white">Registros de peso</h5>
                                <div id="botonesCard">
                                    <a href="#" class="btn btn-light" style="color:black">Ver Registros </a>
                                    <a href="#" class="text-decoration-none" style="color: #00ff00; margin-left: 60px;">Registrar</a>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-3" style="margin-top: 50px;">
                    <section id="cardMenu">
                        <div class="card" style="width: 300px; height: 100px; background-color: #330066">
                            <div class="card-body">
                                <h5 class="card-title text-center" style="color:white">Registros de Calorias</h5>
                                <div id="botonesCard">
                                    <a href="#" class="btn btn-light" style="color:black">Ver Registros </a>
                                    <a href="#" class="text-decoration-none" style="color: #00ff00; margin-left: 60px;">Registrar</a>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-3" >
                    <div>
                        <a href="#" class="text-decoration-none" style="color:white; text-align: center; font-size: 25px;">Ver mi perfil</a>
                    </div>
                </div>
                <div class="col-md-3" style="margin-top: 200px;">
                    <section id="cardMenu">
                        <div class="card" style="width: 300px; height: 100px; background-color: #330066">
                            <div class="card-body">
                                <h5 class="card-title text-center" style="color:white">Registros de ciclo menstrual</h5>
                                <div id="botonesCard">
                                    <a href="#" class="btn btn-light" style="color:black">Ver Registros </a>
                                    <a href="#" class="text-decoration-none" style="color: #00ff00; margin-left: 60px;">Registrar</a>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-3" style="margin-top: 200px;">
                    <section id="cardMenu">
                        <div class="card" style="width: 300px; height: 100px; background-color: #330066">
                            <div class="card-body">
                                <h5 class="card-title text-center" style="color:white">Registros de sueño</h5>
                                <div id="botonesCard">
                                    <a href="#" class="btn btn-light" style="color:black">Ver Registros </a>
                                    <a href="#" class="text-decoration-none" style="color: #00ff00; margin-left: 60px;">Registrar</a>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-3" style="margin-top: 200px;">
                    <section id="cardMenu">
                        <div class="card" style="width: 300px; height: 100px; background-color: #330066">
                            <div class="card-body">
                                <h5 class="card-title text-center" style="color:white">Registros de suplementos</h5>
                                <div id="botonesCard">
                                    <a href="#" class="btn btn-light" style="color:black">Ver Registros </a>
                                    <a href="#" class="text-decoration-none" style="color: #00ff00; margin-left: 60px;">Registrar</a>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </body>
</html>
