<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <section th:fragment="CrearPerfil">
            <form>
                <div id="nomUsuario">
                    <label for="nombre">Nombre de usuario</label>
                    <input type="text" class="form-control" name="descripcion" required="true"/>
                </div>
                <div id="correo">
                    <label for="correo">Correo</label>
                    <input type="mail" class="form-control" name="descripcion" required="true"/>
                </div>
                <div id="password">
                    <label for="password">Contrasena</label>
                    <input type="password" class="form-control" name="descripcion" required="true"/>
                </div>

            </form>
        </section>
    </body>
</html>
