<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/layout :: head"></head>
    <body class="body">
        <header th:replace="MenuPrincipal/layout :: header"></header>

        <div class="container mt-3">
            <div class="row">
                <div class="col-md-3 mt-5">
                    <section id="cardMenu">
                        <div class="card" style="background-color: #2E0069">
                            <div class="card-body">
                                <img class="card-img-top mb-2" src="https://img.freepik.com/foto-gratis/deportista-feliz-agua-potable-parque_1098-19542.jpg?w=740&t=st=1702312107~exp=1702312707~hmac=b51ec43372dc8498ddd78d3a22418c385cf10687b5fc4d67acd4341457e04922"/>
                                <h5 class="card-title text-center text-white">Registros de agua</h5>
                                <div id="botonesCard d-flex">
                                    <button class="btn btn-outline-primary"><a th:href="@{/hidratacion/listaHidratacion}" class="text-decoration-none text-white">Ver Registros </a></button>
                                    <button class="btn btn-outline-success"><a th:href="@{/hidratacion/regHidratacion}" class="text-decoration-none text-white">Registrar</a></button>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-3 mt-5">
                    <section id="cardMenu">
                        <div class="card" style="background-color: #2E0069">
                            <div class="card-body">
                                <img class="card-img-top mb-2" src="https://img.freepik.com/fotos-premium/exito-bascula-dedicada-atleta-celebra-su-arduo-trabajo-sacrificio-progreso_1187-370245.jpg?w=740"/>
                                <h5 class="card-title text-center text-white">Registros de peso</h5>
                                <div id="botonesCard d-flex">
                                    <button class="btn btn-outline-primary"><a th:href="@{/peso/listaPesos}" class="text-decoration-none text-white">Ver Registros </a></button>
                                    <button class="btn btn-outline-success"><a th:href="@{/peso/regPeso}" class="text-decoration-none text-white ">Registrar</a></button>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-3 mt-5">
                    <section id="cardMenu">
                        <div class="card" style="background-color: #2E0069">
                            <div class="card-body">
                                <img class="card-img-top mb-2" src="https://img.freepik.com/foto-gratis/vista-superior-comida-sana-vs-comida-poco-saludable_23-2148194543.jpg?w=740&t=st=1702312371~exp=1702312971~hmac=eba8e2c5172cbb9a961a6114bfc7421de1320998ee83abe0986d86a82ae4a425"/>
                                <h5 class="card-title text-center text-white">Registros de Calorias</h5>
                                <div id="botonesCard d-flex">
                                    <button class="btn btn-outline-primary"><a th:href="@{/calorias/listaCalorias}" class="text-decoration-none text-white ">Ver Registros </a></button>
                                    <button class="btn btn-outline-success"><a th:href="@{/calorias/regCalorias}" class="text-decoration-none text-white ">Registrar</a></button>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-3" >
                    <div>
                        <a th:href="@{/usuario/listado}" class="text-decoration-none" style="color:white; text-align: center; font-size: 25px;">Ver mi perfil</a>
                    </div>
                </div>
                <div class="col-md-3">
                    <section id="cardMenu">
                        <div class="card" style="background-color: #2E0069">
                            <div class="card-body">                                
                                <img class="card-img-top mb-2" src="https://img.freepik.com/vector-gratis/ilustracion-concepto-calendario-menstrual_23-2148648368.jpg?w=740&t=st=1702312615~exp=1702313215~hmac=570d7f3080100df99fb5751b6284ef39979cab9df0a12a2008acdb6806a69e8b"/>
                                <h5 class="card-title text-center text-white">Registros de ciclo menstrual</h5>
                                <div id="botonesCard d-flex">
                                    <button class="btn btn-outline-primary"><a th:href="@{/cicloMenstrual/listaCiclos}" class=" text-decoration-none text-white">Ver Registros </a></button>
                                    <button class="btn btn-outline-success"><a th:href="@{/cicloMenstrual/regCiclo}" class=" text-decoration-none text-white">Registrar</a></button>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-3">
                    <section id="cardMenu">
                        <div class="card" style="background-color: #2E0069">
                            <div class="card-body">
                                <img class="card-img-top mb-2" src="https://img.freepik.com/foto-gratis/mi-cama-es-mi-mejor-amiga_329181-10418.jpg?w=740&t=st=1702312754~exp=1702313354~hmac=0ad9f5e7381ae30f1fba2f79d101941bc1e6fb180c1784e72f570719b3bfb182"/>
                                <h5 class="card-title text-center text-white">Registros de sueño</h5>
                                <div id="botonesCard d-flex">
                                    <button class="btn btn-outline-primary"><a th:href="@{/sueno/listaSuenos}" class="text-decoration-none text-white ">Ver Registros </a></button>
                                    <button class="btn btn-outline-success"><a th:href="@{/sueno/regSueno}" class="text-decoration-none text-white ">Registrar</a></button>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-md-3">
                    <section id="cardMenu">
                        <div class="card" style="background-color: #2E0069">
                            <div class="card-body">
                                <img class="card-img-top mb-2" src="https://img.freepik.com/vector-gratis/ilustracion-batido-proteina-dibujado-mano_23-2150072968.jpg?w=740&t=st=1702312844~exp=1702313444~hmac=cb297beb04d74575b0a44cbe31ca06787641aa0e88e255fe87fd05ef845810f9"/>                                
                                <h5 class="card-title text-center text-white">Registros de suplementos</h5>
                                <div id="botonesCard d-flex">
                                    <button class="btn btn-outline-primary"><a th:href="@{/Suplementos/listadoSuplementos}" class="text-decoration-none text-white">Ver Registros </a></button>
                                    <button class="btn btn-outline-success"><a th:href="@{/Suplementos/regSuplementos}" class="text-decoration-none text-white">Registrar</a></button>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </body>
</html>


