<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="head">
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
            <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
            <link th:href="@{/webjars/font-awesome/css/all.css}" rel="stylesheet"/>
            <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
            <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
            <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </head>
    <body>
        <header th:fragment="header" class="header">
            <section id="main-header" class="py-2 text-white" style="background-color: #6600cc">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 style="text-align: center"><a class="nav-link" th:href="@{/perfil/MiPerfil}">Ver mi perfil</a></h1>
                        </div>
                    </div>
                </div>
            </section>
        </header>
        <section th:th:fragment="cuerpo" style="background-color: #6600cc">
            
            <div id="calorias"style="width: 100px; height: 100px; background-color: red; margin-left: 20px;" >
                <p>Calorias</p>
            </div>
            
        </section>
    </body>
</html>
