<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/layout :: head">
        
    </head>
    <body style="background-color: #5C4AB5">
        <header th:replace="layout/layout :: header"></header>

        <section class="container" mt-3> 
            <div class="container text-center">
                <div class="row align-items-center">
                    <div class="col-8">
                        <h1>Registros</h1>
                    </div>
                    <div class="col">
                        <a th:href="@{/}"><i class="fa-solid fa-arrow-left fa-2xl" style="color: #ffffff;"></i></a>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-4" th:each="p : ${pesos}">
                        <div class="card custom-card mb-3" style="max-width: 25rem;">
                             <div class="card-header">Fecha: [[${p.fecha}]]</div>
                            <div class="card-body">
                                <p class="card-text">Peso: [[${p.peso}]]</p>
                                <p class="card-text">Altura: [[${p.altura}]]</p>
                                <p class="card-text">Indice de masa corporal: [[${p.IMC}]]</p>
                            </div>
                            <div class="card-footer d-flex justify-content-between align-items-center">
                                <a type="button" class="btn btn-outline-light btn-mm" th:href="@{/peso/modificarPeso/}+${p.idPeso}"
                                   >Actualizar el registro</a>
                                <a type="button" class="btn btn-outline-light btn-mm" th:href="@{/peso/confirmarEliminar/}+${p.idPeso}"
                                   >Eliminar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <footer th:replace="layout/layout :: footer"></footer>
    </body>
</html>

