<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/layout :: head"></head>
    <body style="background-color: #5C4AB5">
        <header th:replace="layout/layout :: header"></header>


        <section class="container" mt-3> 
            <div class="container text-center">
                <div class="row align-items-center">
                    <div class="col-8">
                        <h1>Ingrese los siguientes datos</h1>
                    </div>
                    <div class="col">
                        <a th:href="@{/peso/listaPesos}"><i class="fa-solid fa-arrow-left fa-2xl" style="color: #ffffff;"></i></a>
                    </div>
                </div>
                <div class="row align-items-center">
                    <form th:action="@{/peso/guardar}" method="post" th:object="${peso}">
                        <div class="row my-4">
                            <label for="peso" class="col-3 col-form-label-lg">Peso:</label>
                            <div class="col">
                                <input type="Number" class="col-4 form-control-lg float-start" min="1" id="peso" name="peso">
                            </div>
                        </div>
                        <div class="row my-4">
                            <label for="altura" class="col-3 col-form-label-lg ">Altura:</label>
                            <div class="col">
                                <input type="Number" class="col-4 form-control-lg float-start" min="1" id="altura" name="altura">
                            </div>
                        </div>
                        <div class="row my-4">
                            <div class="col">
                                <button type="submit" class="btn btn-success btn-lg float-end">Confirmar</button>
                            </div>
                            <div class="col">
                                <button type="reset" class="btn btn-danger btn-lg float-start">Cancelar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>


        <footer th:replace="layout/layout :: footer"></footer>
    </body>
</html>

