<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="layout/layout :: head"></head>
    <body style="background-color: #5C4AB5">
        <header th:replace="layout/layout :: header"></header>

     
        <section class="container" mt-3>
            <div class="row my-4" th:object="${ciclo}">
                <div class="col-12">
                    <h3 class="confirmation-text">¿Está seguro que desea borrar el registro de ciclo Menstrual del día [[${ciclo.fecha}]]?</h3>
                </div>
                <div class="col">
                    <a class="btn btn-success btn-lg float-end" th:href="@{/cicloMenstrual/eliminar/}+${ciclo.idRegistro}">Confirmar</a>
                </div>
                <div class="col">
                    <a class="btn btn-danger btn-lg float-start" th:href="@{/cicloMenstrual/listaCiclos}">Cancelar</a>
                </div>
            </div>
        </section>


        
    </body>
</html>
